<div class="container">
    <div class="row">
        <div class="col-md-12 titulo">
            {{TituloControlador}}
        </div>
    </div>
    <div class="row capa-navegacion">
        <div class="col-md-12">
            <ul class="navegacion">
                <li class="opcion-navegacion" ng-click="redireccionar('clima');">Clima</li>
            </ul>
        </div>
    </div>
    <div class="row capa-navegacion">
        <div class="col-md-12">
            <ul class="navegacion">
                <li class="opcion-navegacion" ng-click="redireccionar('deporte');">Deportes</li>
            </ul>
        </div>
    </div>
    <div class="row capa-navegacion">
        <div class="col-md-12">
            <ul class="navegacion">
                <li class="opcion-navegacion" ng-click="redireccionar('calculadora');">Calculadora</li>
            </ul>
        </div>
    </div>

</div>